header {
    border: 1px solid #2d0562;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color:blanchedalmond;
    color: darkslateblue;
    text-align: center;
    font-weight: 600;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif; font-size: xx-large;
    text-align: center;
    color:darkblue;
    font-weight: 800;
    font-style: italic
}

h2{
    text-align: center;
    font-style: italic;
    color:darkblue;
}

body {
    background-color:bisque;
    margin: 20px;
    padding: 5;
}

p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

a {
    color: orangered;
}

li{
    list-style: square;
    text-align: center;
    font-size: 18px;
}

img{
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
}

.image1 {
    width: 400px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}
