h1{
    font-family:Georgia, 'Times New Roman', Times, serif; font-size: xx-large;
    text-align: center;
    color:darkblue;
    font-weight: 800;
    font-style: italic
}

h2{
    text-align: center;
    font-style: italic;
    color:darkblue;
}

body {
    background-color: cadetblue;
    margin: 20px;
    padding: 5;
    max-width: 800px;
}

p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

a {
    color:crimson;
}

li{
    list-style: square;
}

img{
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
}